on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

# Fix flashlight
on property:ro.orangefox.boot=1
    mkdir /tmp/flashlight
    write /tmp/flashlight/max_brightness "1"
    symlink /sys/devices/virtual/camera/flash/rear_flash /tmp/flashlight/brightness

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

# Logcat
on post-fs
    rm /cache/logcat.${ro.hardware}.txt
    start logcat_cache

service logcat_cache /system/bin/logcat -b all -f /cache/logcat.${ro.hardware}.txt -v threadtime
    class main
    user root
    group system
    disabled

# Run TEE, Gatekeeper and mcDriverDaemon
on property:crypto.ready=1 && property:hwservicemanager.ready=true
    start gatekeeper-1-0
    start tee-1-1
    start mobicore

# FBE
on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on property:vendor.sys.listeners.registered=true
    start gatekeeper-1-0

on property:twrp.all.users.decrypted=true
    setprop crypto.ready 0
    stop tee-1-1
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster-4-0

# Run Keymaster
on post-fs-data
    start keymaster-4-0

# Services: Keymaster
service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib
    disabled
    oneshot
    seclabel u:r:recovery:s0

on post-fs-data
    mkdir /mnt/vendor/efs/DAK 0775 system system
    restorecon -R /mnt/vendor/efs/DAK

# Services: Gatekeeper
service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root 5678
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib
    disabled
    oneshot
    seclabel u:r:recovery:s0

on post-fs-data
    mkdir /data/vendor/gatekeeper 0770 system system

# Run prepdecrypt
on property:ro.crypto.state=encrypted && property:ro.boot.dynamic_partitions=true
    start prepdecrypt

# Services: Prepdecrypt
service prepdecrypt /system/bin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

# Services: Trustonic TEE
service tee-1-1 /system/bin/vendor.trustonic.tee@1.1-service
    class hal
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib
    disabled
    oneshot
    seclabel u:r:recovery:s0

# Service: Mobicore
service mobicore /system/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
	-r /vendor/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin \
	-r /vendor/app/mcRegistry/07090000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/ffffffffd00000000000000000000045.drbin \
	-r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
	-r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
	-r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
	-r /vendor/app/mcRegistry/07070000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
	-r /vendor/app/mcRegistry/ffffffffd00000000000000000000093.tlbin
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib
    class core
    priority -20
    disabled
    oneshot
    seclabel u:r:recovery:s0

on init
    #create mountpoint for /mnt/vendor/persist partition
    mkdir /mnt/vendor/persist 0771 system system

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist

    # Create mcRegistry to store failure record
    mkdir /mnt/vendor/persist/mcRegistry 0771 system system
	
	export MC_AUTH_TOKEN_PATH /efs
    mkdir /efs/TEE  0770 radio system
    mkdir /mnt/vendor/efs/TEE  0770 radio system

    write /proc/bootprof "MOBICORE: Starting mcDriverDaemon"
    start mobicore

on post-fs-data
    # Create /data/vendor/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/vendor/key_provisioning 0771 system system

# Normal mode, FBE
on property:ro.crypto.type=file && property:ro.crypto.state=encrypted
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FBE encrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FBE encrypted)"

# Normal mode, FDE
on property:vold.decrypt=trigger_restart_framework
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FDE encrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FDE encrypted)"

